* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
  }

  .bloco-esquerdo{
    display: flex;
    align-items: end;
    width: 100%;
    height: 87vh;
    background-color: #242323;
    padding:0;
    margin-top: 5rem;
    margin-left: 45px;
  }

.form-cad{
    margin-top: 5rem;
    padding:0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background: rgb(18, 167, 38,0.9);
    display: flex;
    font-weight: 800;
    margin-left: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 87vh;
}

.inp{
    background: transparent;
    border: none;
    border-bottom: 1px solid white; 
}

.inp:focus{
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
}

h2{
  position: relative;
  right: 50%;
  margin-top: 20px;
  color: white;
  border-bottom: solid white 2px;
}

.img-cadastro
{ 
  background-size: cover;
  display: flex;
  align-items: end;
  padding: 0;
  position: relative;
  left: 50%;
  width: 100%;
  height: 20vh;
  image-rendering: auto;
}

.btn
{
  position: relative;
  top: 5%;
}

.selector
{
  background: none;
  position: relative;
  bottom: 15%;
}

.form-select{
  background: rgb(97, 95, 95)
}

.errors ul{
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 25px;
}

.btn-cat
{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 105%;
  top: -1%;
  width: 40px;
  height: 38px;
  font-size: 30px;
}

.link
{
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

:root {
  --success: #12c99b;
  --error: #e41749;
}

.alert {
  min-height: 67px;
  width: 560px;
  max-width: 90%;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  border-radius: 16px;
  position: absolute;
  top:10%;
  left: 40%;
  padding: 0;
}

.alert-success {
  background: var(--success);
}
.alert-error {
  background: var(--error);
}

.erros ul li{
  padding: 0;
  height:40px;
}

.row{
  display: flex;
  justify-content: center;
  align-items: center;
}