.box-esquerda{
    width: 20rem;
    height: 85vh;
    background: rgb(8, 226, 37, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    border-radius: 16px;
    position: absolute;
    left: 0.5%;
    top:11%;
}

.titulo-esq{
    position: absolute;
    top: 8%;
}

.list-group{
    height: 38rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.tabela{
    position: relative;
    left: 23%;
    top: 150px;
    background: #a09f9f;
    height: 75vh;
    border-radius: 10px;
}

.titulo{
    
    position: absolute;
    top: 10%;
    right: 63%;
}

.inserir
{
    position: absolute;
    top: 11%;
    right: 2%;
    width: 15rem;
    font-weight: 900;
}

.funcionarios
{
    position: absolute;
    top: 11%;
    right: 19%;
    width: 15rem;
    font-weight: 900;
}

.lista{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: large;
    border: none;
    color: black;
    width: 100%;
    background: none;
}

.requisicao
{
    position: absolute;
    top: 10%;
    right: 20%;
    width: 15rem;
    font-weight: 900;
}

.box-esquerda li{
    height: 50px;
    border-radius: 16px;
    margin-bottom: 50px;
}

.box-esquerda ul li:first-child{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.box-esquerda ul li:last-child{
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}


